.tabContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.doctype {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.invoiceGenNumber {
  width: 100%;
  display: flex;
  align-items: end;
  gap: 15px;
}

.label {
  font-size: 0.8rem;
  color: var(--label);
}

@media screen and (min-width: 768px) {
  .doctype {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}
