.container {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.signaturePreviewContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.signaturePreview {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid var(--border);
}

.h2 {
  font-size: 1.135rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: var(--muted-foreground);
  letter-spacing: -0.025em;
  margin-bottom: 0.5rem;
}

.label {
  font-size: 0.8rem;
  color: var(--label);
}

.section {
  border-bottom: 1px solid var(--border);
  padding-bottom: 1rem;
}

.section > * + * {
  margin-top: 1rem;
}

.section:last-child {
  border-bottom: 0;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 700px) {
  .inputGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
