.invoice {
  width: 210mm;
  min-height: 297mm;
  padding: 12mm;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  line-height: 1.35;
  color: #000;
  background: #fff;
}

.header {
  margin-bottom: 6mm;
}

.docTitle {
  font-size: 11pt;
  font-weight: bold;
  margin: 0 0 2mm 0;
}

.disclaimer {
  font-size: 9pt;
}

.block {
  margin-bottom: 5mm;
}

.meta p {
  margin: 1mm 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 4mm;
}

.table th,
.table td {
  border: 1px solid #000;
  padding: 3px;
  vertical-align: top;
}

.table th {
  font-weight: bold;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.totals {
  margin-top: 5mm;
}

.grandTotal {
  font-weight: bold;
}

.footer {
  margin-top: 8mm;
}

.auth {
  margin-top: 6mm;
}
