.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0.9px);
}

.card {
  position: relative;
  background-color: var(--signature-card);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  max-width: 42rem;
  z-index: 10;
}

.tabBtn {
  font-size: 0.8rem;
}

.tabBtn:hover {
  background-color: var(--border);
}

.fontColorDropDown {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fontContainer,
.colorContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;

}
