.container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0.9px);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  gap: 0.75rem;
  background-color: #fffbeb;
  border: 1px solid #fef3c7;
  padding: 0.75rem;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px rgb(0 0 0 / 0.05);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.alerticon {
  color: var(--status-unpaid-text);
}

.header > div > h1 {
  color: #000;
  font-size: 1.2rem;
}

.icon {
  color: #000;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .card {
    width: 500px;
  }
}
