.templateContainer {
  position: relative;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 0.5rem;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.previewWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.selectContainer {
  width: 100%;
}

.nav {
  width: 100%;
  background-color: var(--card);
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--border);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.zoomButton {
  border: none;
  background: #eee;
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.2s ease;
}

.zoomButton:hover {
  background: #ddd;
}

.zoomSlider {
  width: 150px;
}

.zoomLabel {
  font-size: 14px;
  color: #444;
  min-width: 40px;
  text-align: center;
}

.templateScaler {
  position: absolute;
  width: 794px;
  height: 1122px;
  transform-origin: top center;
  transition: transform 0.2s ease;

  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.templateScaler > * {
  display: block;
  width: 794px !important;
  height: 1122px !important;
  max-width: 794px !important;
  max-height: 1122px !important;
  min-width: 794px !important;
  min-height: 1122px !important;
  flex-shrink: 0;
}

.zoomControl {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 1rem;
  /* background-color: var(--border); */
  background-color: var(--card);
  border-top: 1px solid var(--ring);
  z-index: 50;
}

@media screen and (min-width: 600px) {
  .templateContainer {
    height: 100vh;
  }

  .zoomControl {
    position: unset;
    width: 100%;
    padding: 0;
    background-color: inherit;
    border: none;
  }
}

@media print {
  .zoomControls {
    display: none;
  }
  .templateScaler {
    transform: none !important;
  }
  .templateContainer {
    background: white;
    overflow: visible;
  }
}
